* {
    box-sizing: border-box;
}

.body {
    background-color: #121212;
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
}


.cabecalho {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-left: 10px solid #af0303;
    border-right: 10px solid #af0303;
    border-bottom: 10px solid #af0303;
}



.links {
    background-color: #000000;
    border: 5px solid #af0303;
    padding: 5px;
    margin-bottom: 15px;
    
    display: flex;
    flex-direction: row;
}
.links h4 {
    margin: 5px;
    color: #fff;
}

.links p {
    color: #fff;
    margin: 5px;
}

.links a {
    color: #f2f2f2;
}




.sub {
    background-color: #000000;
    color: #fff;
    text-align: center;
    border: 5px solid #af0303;
    padding: 10px;
    margin-top: 20px;
}





table {
    background-color: #000000; 
    color: #ffffff;             
    border: 2px solid #af0303;  
    border-collapse: collapse;  
    width: 100%;               
}
table th,
table td {
    border: 3px solid #af0303;  
    color: #ffffff;             
    padding: 8px;  
    text-align: center;             
}
.t1 {
    
    background-color: goldenrod;      
    text-align: center;             
}
.t2 {
    background-color: silver;      
    text-align: center;             
}
.t3 {
    background-color: #cd7f32;      
    text-align: center;             
}
.t1, .t2, .t3, .t4 {
    font-size: 40px;
}
table td p {
    text-align:left;
}

.tabelas-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;      
    gap: 20px;                    
    margin-top: 20px;
    flex-wrap: wrap;              
}

.tabela-item {
    text-align: center;
}
.tabela-item h1 {
    background-color: #af0303;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;  
}
.tabela-item2 h1 {
    background-color: #af0303;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}







.top3-container {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    gap: 20px;                    
    margin-top: 20px;
    flex-wrap: wrap;
}
.top3-container img {
    display: block;
    width: 150px;             
    height: 200px;            
    object-fit: cover;        
    border-radius: 10px;
    align-self: center;
}
.top3-container p {
    color: #fff;
    text-align: center;
    background-color: #000000;
    border: 2px solid #af0303;
    padding: 10px;
}
.top3-title {
    text-align: center;
    margin-top: 20px;
    background-color: #af0303;
    color: #fff;
    padding: 10px;
}
.top3-container h3 {
    background-color: #af0303;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;  
}
.filmes_top {
    display: flex;
    justify-content:space-between; 
    align-items: center;   
    flex-direction:row;  
    gap: 20px;                
}
.filme1, .filme2, .filme3 {
    display: flex;
    flex-direction: column;    
    align-items: center;       
    gap: 10px;                 
}
.series_top {
    display: flex;
    justify-content:space-between; 
    align-items: center;   
    flex-direction:row;  
    gap: 20px;                
}
.serie1, .serie2, .serie3 {
    display: flex;
    flex-direction: column;    
    align-items: center;       
    gap: 10px;                 
}




.rodape {
    background-color: #000000;
    color: #fff;
    padding-bottom: 30px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-left: 5px solid #af0303;
    border-right: 5px solid #af0303;
    border-top: 5px solid #af0303;
    margin-top: 30px;
}